@model Shopping_Site.Models.Review

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Sunteti sigur ca doriti sa stergeti review-ul?</h3>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a href="/Products/Show/@Model.ProductID">Inapoi la produs</a>
    </div>
}
<div>
    <h4>Review</h4>
    <hr />

    <div class="col-md-12">
        <div class="row">
            <div class="col-md-10 ">

                <b>@Model.Rating / 5</b>
                <p class="text">@Model.Comment</p>
                <h6 class="text-info">Data: @Model.Date</h6>
            </div>


        </div>

    </div>
    <br />


</div>
