@model IEnumerable<Shopping_Site.Models.Product>
@{
    ViewBag.Title = "Valideaza";
}

<h2>Valideaza</h2>

<div>
    <ul class="list-unstyled" style="display:flex">
        @foreach(var product in Model)
        {
        <li>
            <div class="list-group-item" style="margin-right:1em;padding:2em">
                <h2 style="margin-top:0;margin-bottom:1em"><a href="/Products/Details/@product.ID">@product.Name</a></h2>
                <p>Postat de :</p>
                <form method="post" action="/Products/Valideaza/@product.ID">
                    <button type="submit" class="btn btn-success"> Valideaza </button>

                </form>
            </div>
        </li>
        }
    </ul>
</div>